<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

<div class="container">

    <h1>🔐 Login</h1>
    <p class="subtitle">Login to continue</p>

    <form method="post">
        <input type="email" name="email" placeholder="Email" required class="input">
        <input type="password" name="password" placeholder="Password" required class="input">

        <button class="btn">Login</button>
    </form>

    <a href="/signup" class="logout">Create new account</a>

</div>

</body>
</html>
